body {

  background-image: url("/assets/image1.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;}
  margin: 5%;
}


h1, h6 {
  text-align: left;
  background-color: white;
  font-family: "Calibri";
  font-style: bold
}

h3, h2 {
  text-align: left;
  background-color: white;
  font-family: "Calibri";
  font-style: bold;
  margin-bottom:2px
}



h4 {
    text-align: left;
    font-family: "Calibri";
    font-style: bold
}

h5 {
    margin-left: 55%;
    text-align: left;
    font-style: bold;
}


.pretty {
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  padding: 15px;
  box-shadow: 2px 2px 2px white;
}



.info {
    border: 1px solid lightgrey;
    padding: 15px;
    background-color: white;
    margin-bottom:0px
}



.row {
  display: flex;
}

.row50{
flex:50%;
}

.column10 {
  flex: 10%;
}

.column20 {
  flex: 20%;
}

.column30 {
  flex: 30%;
  padding-bottom: 4px
}

.column40 {
  flex: 40%;
}

.column60 {
  flex: 60%;
}

.column70 {
  flex: 70%;
}

.column3 {
  background: white;

}

.column50 {
  flex: 50%;

}

.mini {
  flex: 10%;
  font-size:15px;
}

.boxes {
  border-radius: 5px;
  background-color: white;
  margin-top:10px;
  margin-bottom: 20px;
  margin-left:5px;
  margin-right: 10px;
  padding: 6px;
  box-shadow: 2px 2px 2px white
}

.text{
    text-align: justify;
    font-family: "Calibri";
}

.titleLeft{
    text-align: left;
    font-family: "Calibri";

}


.bold{
    font-style: bold;
}